<!-- app page title header bar -->
<app-title [prePageTitle]="prePageTitle" [pageTitle]="pageTitle"></app-title>

<div class="row">
  <div class="header">
    <div class="header__banner-wrapper">
      <img src="../../../assets/img/site/zend_2018_php_7.jpg" class="header__banner-img">
    </div>
  </div>
</div>

<div class="row">
  <div class="projects">
    <div class="section-h2">WIX</div>
    <mat-card class="card-container">
        <mat-card-title>Reggie's Buckets</mat-card-title>
        <mat-card-subtitle>WIX Site</mat-card-subtitle>
      <img mat-card-image src="../../../assets/img/clients/reggiesbucket/reggiesbucket_homescreen.jpg" >
      <mat-card-content>
        <p>Ex MLB player, Reggie York's fitness improvement site.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Learn More</button>
        <button mat-button (click)="goToReggiesBucket()">Visit Site</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
