.navbar {

  &__logo-wrapper {
    display: inline;
    margin-left: 125px;
  }

  &__logo-wrapper:hover {
    cursor: pointer;
  }

  &__text {
    display: inline;
    color: #007bff;
  }

  &__logo {
    height: 45px;
    /*display: inline;
    margin-left: 10px;*/
  }

  &__link-wrapper  {
    float: right;
    right: 0;
    width: 33%;
    position: absolute;
  }

}

.navbar-light .navbar-nav .nav-link {
  color: #007bff;
}

.dropdown-toggle {
  cursor: pointer;
}


