.navbar {

  padding: 2rem;

  &__logo-wrapper {
    display: inline;
    margin-left: 125px;
  }

  &__logo-wrapper:hover {
    cursor: pointer;
  }

  &__text {
    display: inline;
    color: #007bff;
    font-size: 1.75rem;
  }

  &__logo {
    height: 45px;
   display: none;
    /* margin-left: 10px;*/
  }

  &__link-wrapper  {
    float: right;
    right: 0;
    width: 33%;
    position: absolute;
    font-size: 1.75rem;
  }

}

.navbar-light .navbar-nav .nav-link {
  color: #007bff;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-item {
  font-size: $font-dropdown-size;
}

.sidenav {
  color: #ecf0f1;
  padding: 5px;
  font-size: 14px;
  float: left;
  margin-top: 4rem;
  margin-left: 2rem;

  &__btn-container {
    margin-top: 5rem;
    margin-bottom: 3.5rem;
    align-content: center;
    text-align: center;
    vertical-align: center;
  }
}
