.portfolio {
  // background-color: $color-grey-light-2;
  // grid-column: center-start / center-end;
  width: 100%;

  display: grid;

  &__header-wrapper {
    width: 35%;
    margin: 5rem auto 0;
    padding: 2rem;
  }

  &__header-img{
    height: 30rem;
  }
}

