mat-card {
  border-radius: .3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}

mat-card-title {
  text-align: center;
}
mat-card-subtitle {
  text-align: center;
}
mat-card-content {
  text-align: center;
}
