mat-card {
  border-radius: .3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}

mat-card-title {
  text-align: center;
}
mat-card-subtitle {
  text-align: center;
}
mat-card-content {
  text-align: center;
}

.dialog {
  width: 100%;
  display: grid;

  &__title {
    width: 25%;

    @media only screen and (max-width: 798px) { width: 65%;}
  }

  .mat-button {
    color: $color-black;
  }
}


