<!-- app page title header bar -->
<app-title [prePageTitle]="prePageTitle" [pageTitle]="pageTitle"></app-title>

<div class="row">
  <div class="corepage-wall">
    <img src="../../../assets/img/site/2000px-React-icon.svg.png" class="corepage_wall_image">
  </div>
</div>

<div class="row">
  <div class="project-content-wrapper">
    <div class="section-h2">REACT 16</div>
    <mat-card class="card-container">
        <mat-card-title>MTD Online</mat-card-title>
        <mat-card-subtitle>React 16</mat-card-subtitle>
      <img mat-card-image src="../../../assets/img/clients/mtdonline-react/mtdonline.jpg" >
      <mat-card-content>
        <p>My React 16 online portfolio.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Learn More</button>
        <button mat-button><a href="https://mtdonline.net">Visit Site</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

  <div class="row">
    <div class="main-content">
      <p>
        Here you can view the latest projects I have develop while acquiring my React skills.
      </p>
      <p>Visit my very first React application, which is a my online portfolio written with React 16 at
        <a href="https://mtdonline.net">MTDOnline.net</a>
      </p>
  </div>
</div>


