<div class="container-fluid">
  <div class="row">
    <div class="main-content">
      <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>LOGIN</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="legacy">
              <mat-label>Email</mat-label>
              <input
                matInput
                class="input-field"
                formControlName="email">
              <span class="form-error"
                *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
                >Please Enter A Valid Email</span>
            </mat-form-field>
            <mat-form-field [floatLabel]="formOptions.value.floatLabel">
              <mat-label></mat-label>
              <input
                type="password"
                matInput
                placeholder="Password"
                class="input-field"
                formControlName="password">
              <span class="form-error"
              *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
              >Please Enter A Valid Password</span>
            </mat-form-field>
            <mat-form-field>
              <button mat-raised-button color="primary">LOGIN</button>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
