
<!-- Start Body Content -->
<section class="bg-tan">
  <div class="container-fluid">
    <div class="row">
      <div class="homepage-wall">
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->
<!-- /end wall paper  -->

<section class="">
  <div class="container">
    <div class="row">

      <div class="col-md-12 index-top-row">
        <div class="section-h2">PHP Works</div>

        <div class="col-sm-4 col-md-4">
          <div class="thumbnail"><!-- id="thumbnail-wrapper" for jquery_function_controllers.js -->
            <img id="portfolio-thumbnail-img" src="images/clientLogos/ecw/new-designs/boulden_company/homePg_after.JPG" alt="...">
            <div id="caption">
              <h3>BOULDEN COMPANY</h3>
              <p>
                <a href="boulden.php" class="btn btn-primary" role="button">
                  Learn More
                </a>
              </p>
            </div>
          </div><!-- end thumbnail one -->
        </div>

        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img id="portfolio-thumbnail-img" src="images/clientLogos/ecw/new-designs/condenser_chiller/homePg_after.JPG" alt="Condensor and Chiller New Home Page">
            <div id="caption">
              <h3>CONDENSOR AND CHILLER</h3>
              <p>
                <a href="ccs.php" class="btn btn-primary" role="button">Learn More</a>
              </p>
            </div>
          </div><!-- end thumbnail two -->
        </div>

        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img id="portfolio-thumbnail-img" src="images/clientLogos/ecw/new-designs/aero_metals/homePg_after.JPG" alt="...">
            <div id="caption">
              <h3>AERO METALS</h3>
              <p>
                <a href="aerometals.php" class="btn btn-primary" role="button">Learn More</a>
              </p>
            </div>
          </div><!-- end thumbnail three -->
        </div>
      </div><!-- #end index-top-row-->

      <div class="col-md-12 index-second-row">

        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img id="portfolio-thumbnail-img" src="images/clientLogos/ecw/new-designs/quality_air_services/homePg_after.JPG" alt="Quality Air Services New Home Page">
            <div id="caption">
              <h3>QUALITY AIR SERVICES</h3>
              <p>
                <a href="quality_air_service.php" class="btn btn-primary" role="button">Learn More</a>
              </p>
            </div>
          </div><!-- end thumbnail one -->
        </div>

        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img id="portfolio-thumbnail-img" src="images/clientLogos/ecw/new-designs/leecyn/after.JPG" alt="Leecyn New Home Page">
            <div id="caption">
              <h3>LEECYN COMPANY</h3>
              <p>
                <a href="leecyn.php" class="btn btn-primary" role="button">Learn More</a>
              </p>
            </div>
          </div><!-- end thumbnail two -->
        </div>

        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <img id="portfolio-thumbnail-img" src="images/clientLogos/ecw/new-designs/greenville_tool/homePg_after.JPG" alt="Greenville Tool New Home Page">
            <div id="caption">
              <h3>GREENVILLE TOOL</h3>
              <p>
                <a href="gtd.php" class="btn btn-primary" role="button">Learn More</a>
              </p>
            </div>
          </div><!-- end thumbnail three -->
        </div>

      </div><!-- #end div class="col-md-12 index-second-row" -->

    </div><!-- #end row -->
  </div>

</section>
