<!-- app page title header bar -->
<app-title [prePageTitle]="prePageTitle" [pageTitle]="pageTitle"></app-title>

    <div class="row">
      <div class="corepage-wall">
        <img src="../../../assets/img/site/zend_2018_php_7.jpg" class="corepage_wall_image">
      </div>
    </div>

    <div class="row">
      <div class="project-content-wrapper">
        <div class="section-h2">ZEND FRAMEWORK 1 & LARAVEL 5</div>
        <mat-card class="card-container">
          <mat-card-title>DVIDS Hub</mat-card-title>
          <mat-card-subtitle>ZF1 & Laravel</mat-card-subtitle>
          <img mat-card-image src="../../../assets/img/clients/encompass/dvidshub_2018.jpg" alt="Greenville Tool New Home Page" >
          <mat-card-content>
            <p>Defense Visual Information Distribution Service (DVIDS).</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
            <a href="https://www.dvidshub.net" target="_blank">
              <button mat-button>Visit Site</button>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="project-content-wrapper">
        <div class="section-h2">CMS MADE SIMPLE 2.0</div>
          <mat-card class="card-container">
            <mat-card-title>BOULDEN COMPANY</mat-card-title>
            <mat-card-subtitle>CMS Made Simple</mat-card-subtitle>
            <img mat-card-image src="../../../assets/img/clients/ecw/boulden_company/homePg_after_2018.jpg" >
            <mat-card-content>
              <p>Experienced in app deployment for Android to the Google Play App Store.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
              <a href="https://www.bouldencompany.com" target="_blank">
                <button mat-button >Visit Site</button>
              </a>
            </mat-card-actions>
          </mat-card>

          <mat-card class="card-container">
            <mat-card-title>CONDENSOR AND CHILLER</mat-card-title>
            <mat-card-subtitle>CMS Made Simple</mat-card-subtitle>
            <img mat-card-image src="../../../assets/img/clients/ecw/condenser_chiller/homePg_after.JPG"  alt="Condensor and Chiller New Home Page">
            <mat-card-content>
              <p>Experienced in app deployment for Android to the Google Play App Store.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
              <a href="https://www.ccs-tubes.com" target="_blank">
                <button mat-button >Visit Site</button>
              </a>
            </mat-card-actions>
          </mat-card>

          <mat-card class="card-container">
            <mat-card-title>AERO METALS</mat-card-title>
            <mat-card-subtitle>CMS Made Simple</mat-card-subtitle>
            <img mat-card-image src="../../../assets/img/clients/ecw/aero_metals/homePg_after.JPG" >
            <mat-card-content>
              <p>Experienced in app deployment for Android to the Google Play App Store.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Learn More</button>
              <a href="https://www.aerometals.com" target="_blank">
                <button mat-button >Visit Site</button>
              </a>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="project-content-wrapper">
        <mat-card class="card-container">
          <mat-card-title>QUALITY AIR SERVICES</mat-card-title>
          <mat-card-subtitle>CMS Made Simple</mat-card-subtitle>
          <img mat-card-image src="../../../assets/img/clients/ecw/qas/qas_homepage.jpg" alt="Quality Air Services New Home Page" >
          <mat-card-content>
            <p>Experienced in app deployment for Android to the Google Play App Store.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
            <a href="http://www.quality-air-services.net" target="_blank">
              <button mat-button >Visit Site</button>
            </a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-container">
          <mat-card-title>LEECYN COMPANY</mat-card-title>
          <mat-card-subtitle>CMS Made Simple</mat-card-subtitle>
          <img mat-card-image src="../../../assets/img/clients/ecw/leecyn/leecyn_homepage_2018.jpg" alt="Leecyn New Home Page" >
          <mat-card-content>
            <p>Experienced in app deployment for Android to the Google Play App Store.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
            <a href="https://www.leecyn.com" target="_blank">
              <button mat-button >Visit Site</button>
            </a>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-container">
          <mat-card-title>GREENVILLE TOOL</mat-card-title>
          <mat-card-subtitle>CMS Made Simple</mat-card-subtitle>
          <img mat-card-image src="../../../assets/img/clients/ecw/greenville_tool/homePg_after.JPG" alt="Greenville Tool New Home Page" >
          <mat-card-content>
            <p>Experienced in app deployment for Android to the Google Play App Store.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn More</button>
            <a href="https://www.gtd.com" target="_blank"></a>
            <button mat-button >Visit Site</button>
          </mat-card-actions>
        </mat-card>
        </div>
      </div>

   <div class="row">
     <div class="project-content-wrapper">
       <div class="section-h2">PHP & MySQL</div>
       <mat-card class="card-container">
         <mat-card-title>Cummins M.a.S.F Portal Demo</mat-card-title>
         <mat-card-subtitle>PHP & MySQL</mat-card-subtitle>
         <img mat-card-image src="../../../assets/img/clients/cummins/Cummins1.jpg" alt="Greenville Tool New Home Page" >
         <mat-card-content>
           <p>Part Ordering Demo Application</p>
         </mat-card-content>
         <mat-card-actions>
           <button mat-button>Learn More</button>
         </mat-card-actions>
       </mat-card>
     </div>
   </div>
