<div class="container-fluid">
  <div class="row">
    <div class="sidenav-container">
      <div class="sidenav">
        <div class="sidenav-btn-container btn-1" matTooltip="Consultations">
          <a routerLink="consultation">
            <i class="fas fa-file-contract fa-3x"></i>
          </a>
        </div>
        <div class="sidenav-btn-container btn-2" matTooltip="Newsletter">
          <a routerLink="newsletter">
            <i class="far fa-newspaper fa-3x"></i>
          </a>
        </div>
        <div class="sidenav-btn-container btn-3" matTooltip="Projects">
          <a routerLink="projects">
            <i class="fas fa-project-diagram fa-3x"></i>
          </a>
        </div>
        <div class="sidenav-btn-container btn-4" matTooltip="Skills">
          <a routerLink="skills">
            <i class="fas fa-code fa-3x"></i>
          </a>
        </div>
        <div class="sidenav-btn-container btn-4" matTooltip="Contact Requests">
          <a routerLink="contacted">
            <i class="fas fa-envelope fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

