<div class="container-fluid">
  <div class="row">
    <div class="sidenav-container">
      <div class="sidenav">
        Side nav.
        <div class="sidenav-btn-container btn-1"><i class="fas fa-file-contract fa-3x"></i></div>
        <div class="sidenav-btn-container btn-2"><i class="far fa-newspaper fa-3x"></i></div>
        <div class="sidenav-btn-container btn-3"><i class="fas fa-project-diagram fa-3x"></i></div>
        <div class="sidenav-btn-container btn-4"><i class="fas fa-code fa-3x"></i></div>
      </div>
    </div>
    <div class="main-content">
      This is the custom profile page
    </div>
  </div>
</div>
