<div class="row">
  <table class="table" *ngIf="projects.length > 0">
    <thead>
    <tr>
      <th>Title</th>
      <th>Framework</th>
      <th>Summary</th>
      <th>Image Path</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let projs of projects ">
      <td>{{ projs.title }}</td>
      <td>{{ projs.frameworkType }}</td>
      <td>{{ projs.summary }}</td>
      <td>{{ projs.imagePath }}</td>
      <td>
        <a routerLink="['/admin/projects/', p.$key]">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="projects.length <= 0 ">No projects have been added.</p>
</div>

