<table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Framework</th>
      <th>Summary</th>
      <th>Image Path</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let projs of projects$ | async ">
      <td>{{ projs.title }}</td>
      <td>{{ projs.framework }}</td>
      <td>{{ projs.summary }}</td>
      <td>{{ projs.imageUrl }}</td>
      <td>
        <a routerLink="['/admin/projects/', projs.$key]">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- p *ngIf="projects.length <= 0 ">No projects have been added.</p -->

<!-- Recent Projects -->
<!--div class="row">
  <section class="bg-cloud">
    <div class="projects">
      <div id="" class="section-h2">RECENT PROJECTS</div>

      <mat-card class="card-container" *ngFor="let projs of projects$ | async ">

        <mat-card-title class="heading-4">{{ projs.title }}</mat-card-title>
        <mat-card-subtitle class="heading-5">{{ projs.framework }}</mat-card-subtitle>

        <img [src]="projs.imageUrl" class="projects__image" alt="">
        <mat-card-content>
          <p>{{ projs.summary }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Learn More</button>
          <button mat-button (click)="goToBurginConstruction()">Visit Site</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div-->
