<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <mat-card class="card-container">
        <mat-header>
          <mat-card-title>MTD Online</mat-card-title>
          <mat-card-subtitle>ReactJS Site</mat-card-subtitle>
        </mat-header>
        <img mat-card-image src="../../assets/img/clients/mtdonline.jpg" >
        <mat-card-content>
          <p>Check out my online portfolio develop with ReactJS.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Learn More</button>
          <button mat-button (click)="goToMtdOnline()">Visit Site</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="carousel-item">
      <mat-card class="card-container">
        <mat-header>
          <mat-card-title>Reggie's Buckets</mat-card-title>
          <mat-card-subtitle>WIX Site</mat-card-subtitle>
        </mat-header>
        <img mat-card-image src="../../assets/img/clients/reggiesbucket_homescreen.jpg" >
        <mat-card-content>
          <p>Ex MLB player, Reggie York's fitness improvement site.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Learn More</button>
          <button mat-button (click)="goToReggiesBucket()">Visit Site</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="carousel-item">
      <mat-card class="card-container">
        <mat-header>
          <mat-card-title>Who's Laundry</mat-card-title>
          <mat-card-subtitle>Angular 6 & Ionic 4 Site</mat-card-subtitle>
        </mat-header>
        <img mat-card-image src="../../assets/img/clients/wholaundry_homescreen.jpg" >
        <mat-card-content>
          <p>Rental Property Office Management Portal</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Learn More</button>
          <button mat-button >Visit Site</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
