<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="logo-wrapper">
    <a class="navbar-brand" routerLink="/">
      <span class="logo-text-wrapper animated fadeInDown delay-1s">{{ sitename }}</span>
      <div class="logo-img-wrapper">
        <img class="logo-img animated bounce delay-2s" src="../../assets/img/marvin_the_martian.jpg" alt="">
      </div>
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto nav-link-wrapper">
      <li class="nav-item">
        <a class="nav-link" routerLink="/experience">EXPERIENCE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/skills">SKILLS</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WORK</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="portfolio/angular">Angular 5/6 </a>
          <a class="dropdown-item" routerLink="portfolio/angular-ionic">Angular + Ionic 3</a>
          <a class="dropdown-item" routerLink="portfolio/angular-c-aspnet">Angular + C# ASP.NET</a>
          <a class="dropdown-item" routerLink="portfolio/react">React</a>
          <a class="dropdown-item" routerLink="portfolio/php">PHP 6 / 7</a>
          <a class="dropdown-item" routerLink="portfolio/wix">WIX</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resume">RESUME</a>
      </li>
      <!--li>
        <healcode-widget data-version="0.2" data-link-class="healcode-login-register-text-link" data-site-id="35272" data-mb-site-id="883172" data-type="account-link" data-inner-html="LOGIN"></healcode-widget>
      </li-->
    </ul>
  </div>
</nav>
