.logo-wrapper { /* -- Mast Head Logo Container @ 1920 PX -- */
  margin: 12px 0 0 150px;
  height: 55px;
  width: 20%;
  display: inline;
}
.logo-text-wrapper{
  display: inline;
  color: #007bff;
}
.logo-img-wrapper{
  display:inline;
  margin-left: 10px;
}
.logo-img{
  width: 12%;
  border-radius: 75px;
}
.nav-link-wrapper{
  float: right;
  right: 2%;
  width: 25%;
  position: absolute;
}

.dropdown-toggle {
    cursor: pointer;
}
.navbar-light .navbar-nav .nav-link {
  color: #007bff;
}
