/*
.corepage-wall {
  height: 550px;
  margin-bottom: 10px;
}

.corepage_wall_image {
  width: 100%;
  height: 550px;
}
*/


.header__banner-wrapper {
  width: 100%;
  height: 55rem;
}

.header__banner-img {
  height: 55rem;
}
