<div class="row corepage-wall">
    <img src="../../../assets/img/site/designed_with_angular_web_banner.jpg" class="corepage_wall_image">
</div>

<div class="row">
  <div class="project-content-wrapper">
    <div class="section-h2">ANGULAR</div>

    <mat-card class="card-container">
      <mat-card-title>PRICE DAWSON REUNION</mat-card-title>
      <mat-card-subtitle>M.E.A.N Stack</mat-card-subtitle>
      <img mat-card-image src="../../../assets/img/clients/pricedawson/pricedawson_homepage.jpg" alt="Price Dawson 2017 Family Reunion Home Page" >
      <mat-card-content>
        <p>The Redesign of the Price Dawson Family Reunion Site.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Learn More</button>
        <a href="https://www.pricedawson.org" target="_blank">
          <button mat-button>Visit Site</button>
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-container">
      <mat-card-title>MARVIN T DAWSON</mat-card-title>
      <mat-card-subtitle>M.E.A.N Stack</mat-card-subtitle>
      <img mat-card-image src="../../../assets/img/clients/marvintdawson-ang/home_screen_Nov_2018.jpg" alt="Pretty People Pages Home Page" >
      <mat-card-content>
        <p>Marvin T Dawson Online Portfolio</p>
        <p>Hey you're here already!</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Learn More</button>
        <!--a href="https://www.marvintdawson.com" target="_blank">
          <button mat-button>Visit Site</button>
        </a-->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
