/** Extra large devices (large desktops, 1200px and up) */

.summary {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  &__content {
    width: 80%;
    margin: 5% auto 0;
    font-family: $font-primary;
    font-size: $font-primary-content-size;
    color: #FFFFFF;
    text-align: center;
    background-color: #545454;
    opacity: 0.8;
    border-radius: 14px;
    padding: 15px;
  }

  &__btn {
    width: 25%;
    margin: 25px auto 0;
    opacity: 0.6;
    color: #fff;
    position: relative;
  }

}

.bg-chinese-city-light{
  background-color: #DCDCDC;
}

.aboutThisSite {
  width: 40%;
  margin: 1rem auto;
  padding: 2rem;

  display: grid;
  grid-column: center-start / center-end;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

  @media only screen and (max-width: $bp-larger) {
    width: 50%;
  }

  @media only screen and (max-width: $bp-medium-larger) { width: 57%;}

  @media only screen and (max-width: $bp-smallest) { width: 100%;}

  &__section-h2 {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    align-items: center;
    justify-items: center;
    text-align: center;

    @media only screen and (max-width: $bp-smallest) { width: 60%;}
  }

  &__content {
    margin-top: 2rem;
    font-size: $font-primary-content-size;
    color: $font-secondary-color;
    padding: 2rem;

    grid-row: 2 / span 1;
    grid-column: 1 / -1;
  }

  &__btn {
    width: 50%;
    background-color: transparent;
    height: 4.5rem;
    border: 2px solid #000000;
    border-radius: 5rem;
    // padding: 1rem;

    grid-row: 2 / -1;
    grid-column: 2 / -1;

    align-self: center;
    justify-self: end;

    margin-top: 1.6rem;
    font-size: $font-primary-card-content-size;
    font-weight: bold;
  }

  &__btn:hover {
    background: orangered;
    cursor: pointer;
    color: #FFFFFF;
  }
}

mat-card-title {
  text-align: center;
}
mat-card-subtitle {
  text-align: center;
}
mat-card-content {
  text-align: center;
}

.skills {
  background-image: linear-gradient(
                  rgba(1, 1, 2, .50),
                  rgba(5, 8, 12, .50)),
                  url("src/assets/img/site/ai-codes-coding-247791.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  grid-column: center-start / center-end;
  padding: 4rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
  }

  display: grid;
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 6rem;

  align-items: center;
  justify-items: center;

}

.skill {
  // background-color: #2c3e50;
  background-color: $color-secondary;
  width: 60%;
  height: 30rem;
  margin: 2rem 0;
  border-radius: 25px;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  align-items: center;
  justify-items: center;

  @media only screen and (max-width: $bp-medium) {
    width: 85%;
    height: 40rem;
    font-size: 2.3rem;
  }

  &__title {
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__icon {
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 2 / -1;
    transform: translate(-1rem);
    align-self: center;
    justify-self: center;
  }

  &__content {
    text-align: center;
    font-size: 2rem;
    color: $font-primary-color;
  }
}

.bg-midnight-blue {
  background-color: $color-secondary;
  padding: 2rem;
}
.bg-cloud {
  padding: 4rem;
  margin-bottom: 7rem;
}

.moreAboutMe {
  width: 80%;
  margin: 0 auto 2rem;
  text-align: center;
  padding: 2rem;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    padding: 0;
  }

  &__title {
    font-family: Arial sans-serif;
    font-size: 24px;
    width: 200px;
    margin: 10px auto 20px;
    padding: 10px;
    color: #fff;
  }

  &__pic {
    display: block;
    background-image: url("src/assets/img/selfPortrait/marvin_2019_140_x_140.jpg");
    background-repeat: no-repeat;
    width: 140px;
    height: 145px;
    margin: 25px auto 30px;
    border-radius: 100px;
  }

  &__content {

    font-size: 1.6rem;
    color: $font-primary-color;
    width: 100%;
    margin: 0 auto 0;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
      width: 90%;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
    }

    h3 {

    }

    p {
      color: #d2d2d2;
    }

  }

  &__btn {
    width: 25%;
    height: 50px;
    margin: 5rem auto 20px;
    border: 2px solid #fff;
    color: #fff;
    font-size: $font-primary-btn-text-size;
    background: none;
    text-align: center;
    position: relative;
    border-radius: 2px;

    @media only screen and (max-width: $bp-larger) {
      width: 25%;
    }

    @media only screen and (max-width: $bp-large) {
      width: 30%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 40%;
    }

    @media only screen and (max-width: $bp-smaller) {
      width: 55%;
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 60%;
    }

    span {
      color: #fff;
      top: 1.2rem;
      position: relative;
      font-weight: bold;
      background: none;

      @media only screen and (max-width: $bp-largest) {
        top: 1.7rem;
      }
    }
  }

  &__btn:hover {
    background: orangered;
    cursor: pointer;
  }

}

.section-h2 :first-child {
  color: #000000;
}

.fa-icon-wrapper {
  text-align: center;
}
