.admin {
  width: 80%;
  height: 600px;
  // float: right;
  margin-top: 5rem;
  margin-bottom: 125px;
  margin-left: 5rem;
}

.admin__content {
  width: 100%;
  height: 600px;
  // float: right;
  margin-top: 5rem;
  margin-bottom: 125px;


  // project page
  &__project-btn {

  }

  &__project-content{
    margin-top: 2rem;
  }
}

