<div class="container-fluid">
  <!-- app page title bar -->
  <div class="row">
    <div class="page-header-bar">
      <div class="page-title-wrapper">{{ siteName }} : {{ pageTitle }}</div>
    </div>
  </div>

  <div class="row main-content">
    <h4>FRAMEWORKS</h4>
  </div>
  <div class="row main-content">
    <h4>MOBILE RESPONSIVE DESIGN</h4>
  </div>
  <div class="row main-content">
    <h4>DEPLOYMENT</h4>
  </div>
  <div class="row main-content">
    <h4>EXPERIMENTAL & CUSTOM DESIGN</h4>
  </div>
  <div class="row main-content">
    <h4>SOCIAL INTEGRATION & MIGRATION</h4>
  </div>
  <div class="row main-content">
    <h4>STYLING</h4>
  </div>
</div>
