<div class="container-fluid">
  <!-- app page title bar -->
  <div class="row">
    <div class="page-header-bar">
      <div class="page-title-wrapper">{{ siteName }} : {{ pageTitle }}</div>
    </div>
  </div>

  <div class="row consultation-content">
    <div class="consultation-content">
      <p>Contact me for a consultation quote</p>
      <button class="btn btn-primary">Quote</button>
      <p>
        If you seek a passionate developer,
        or you have a project that you and your team are working on and need a extra set of hands,
        or have a question about your current site.
      </p>
    </div>
  </div>

  <div class="row main-content">
    <div><img src="../../assets/img/ionic_and_angular.png"> </div>
    <h4>FRAMEWORKS</h4>
  </div>
  <div class="row main-content">
    <h4>MOBILE RESPONSIVE DESIGN</h4>
    <div><img src="../../assets/img/mobile_responsive.jpeg"> </div>
  </div>
  <div class="row main-content">
    <div><img src="../../assets/img/deploy-4.jpg"> </div>
    <h4>DEPLOYMENT</h4>
  </div>
  <div class="row main-content">
    <h4>EXPERIMENTAL & CUSTOM DESIGN</h4>
    <div><img src="../../assets/img/prototype_and_mockup.png"> </div>
  </div>
  <div class="row main-content">
    <div><img src="../../assets/img/socialmediamarketing.jpg"> </div>
    <h4>SOCIAL INTEGRATION & MIGRATION</h4>

  </div>
  <div class="row main-content">
    <h4>STYLING</h4>
    <div><img src="../../assets/img/less_and_sass.jpg"> </div>
  </div>
</div>
