<!-- app page title header bar -->
<app-title [prePageTitle]="prePageTitle" [pageTitle]="pageTitle"></app-title>

  <div class="row" id="consultation-content-wrapper">
      <div class="text-wrapper">
        <p>
          If you seek a skilled, passionate software engineer / developer,
          and have a project that you and your team are working on and need a extra set of coding hands,
          or maybe you just have a question about your current project or site.
        </p>
      </div>
      <div class="img-wrapper">
        <p>Contact me for a consultation.</p>
        <button mat-raised-button (click)="openQuoteDialog()">Contact</button>
      </div>
  </div>

  <div class="row main-content">
    <div class="col-img-wrapper">
      <img class="consult-imgs" src="../../assets/img/ionic_and_angular.png">
    </div>
    <div class="col-text-wrapper">
      <h4>FRAMEWORKS</h4>
      <p>Knowledge of Angular 6 / 7, Spring 5, Spring MVC, Spring Boot, React 16, Ionic frameworks for application development.</p>
    </div>
  </div>

  <div class="row main-content">
    <div class="col-text-wrapper">
      <h4>MOBILE RESPONSIVE DESIGN</h4>
      <p>CSS Grid, Bootstrap 6, Flexbox and Angular Material, for mobile first responsive development.</p>
    </div>
    <div class="col-img-wrapper">
      <img class="consult-imgs" src="../../assets/img/mobile_responsive.jpeg">
    </div>
  </div>

  <div class="row main-content">
    <div class="col-img-wrapper">
      <img class="consult-imgs" src="../../assets/img/deploy-4.jpg">
    </div>
    <div class="col-text-wrapper">
      <h4>DEPLOYMENT</h4>
      <p>AWS, Google Cloud Plaform or any hosting providers. Mobile deployment to Google Play or Apple App Store</p>
    </div>
  </div>

  <div class="row main-content">
    <div class="col-text-wrapper">
      <h4>UX & CUSTOM DESIGN</h4>
      <p>Wireframing and rapid prototyping for new projects or proof of concept validation, using Adobe XD.</p>
    </div>
    <div class="col-img-wrapper">
      <img class="consult-imgs" src="../../assets/img/prototype_and_mockup.png">
    </div>
  </div>

  <div class="row main-content">
    <div class="col-img-wrapper">
      <img class="consult-imgs" src="../../assets/img/socialmediamarketing.jpg">
    </div>
    <div class="col-text-wrapper">
      <h4>SOCIAL INTEGRATION & MIGRATION</h4>
      <p>Consumption of federate API's.</p>
    </div>
  </div>

  <div class="row main-content">
    <div class="col-text-wrapper">
      <h4>STYLING</h4>
      <p>LESS or SASS abilities to minimize styling code.</p>
    </div>
    <div class="col-img-wrapper">
      <img class="consult-imgs" src="../../assets/img/less_and_sass.jpg">
    </div>
  </div>
