<!-- @ng-bootstrap/ng-bootstrap with mosh -->
<nav
  class="navbar navbar-expand-md navbar-light bg-light fixed-top" >
  <div class="navbar__logo-wrapper" (click)="goToHomePage()">
    <a href="#" class="navbar-brand" (click)="goToHomePage()">
      <span class="logo-text-wrapper animated fadeInDown delay-1s">{{ siteName | uppercase }}</span>
    </a>
    <!--img class="navbar__logo animated bounce delay-2s" src="../../../assets/img/Marvin_the_Martian.svg.png" alt=""-->
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto navbar__link-wrapper">
      <li ngbDropdown class="nav-item">
        <a [routerLinkActive]="'active fluffy'" ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="about/my-story">My Story</a>
            <a class="dropdown-item" routerLink="about/experience">Experience</a>
            <a class="dropdown-item" routerLink="about/stacks">Stacks</a>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="'active fluffy'" class="nav-link" routerLink="/consulting">CONSULTING</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">WORK
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" routerLink="portfolio/angular">Angular 6 / 7 </a>
            <a class="dropdown-item" routerLink="portfolio/angular-ionic">Angular & Ionic</a>
            <a class="dropdown-item" routerLink="portfolio/java">Java</a>
            <a class="dropdown-item" routerLink="portfolio/react">React</a>
            <a class="dropdown-item" routerLink="portfolio/php">PHP 6 / 7</a>
            <a class="dropdown-item" routerLink="portfolio/wix">WIX</a>
          </div>
        </a>
      </li>
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><i class="far fa-user-circle"></i></a>
        </li>
      </ng-template>
      <li *ngIf="adminService.user$ | async as user; else anonymousUser " ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.displayName }}
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" routerLink="/admin">Profile</a>
            <a class="dropdown-item" routerLink="/admin/consultation">Consultations</a>
            <a class="dropdown-item" routerLink="/admin/projects">Projects</a>
            <a class="dropdown-item" routerLink="/admin/skills">Skills</a>
            <a class="dropdown-item" routerLink="/admin/newsletter">Newsletter</a>
            <a class="dropdown-item" routerLink="/admin/contacted">Contacted</a>
            <a class="dropdown-item" (click)="onLogout()">Logout </a>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
