<div class="row">
  <div class="projects">
    <!--div id="" class="section-h2">RECENT PROJECTS</div-->
    <mat-card *ngFor="let project of projects$ | async ">
      <mat-card-title>{{ project.title }}</mat-card-title>
      <mat-card-subtitle>{{ project.framework }}</mat-card-subtitle>
      <img mat-card-image [src]="project.imageUrl"
           alt="{{project.title}} Website">
      <mat-card-content>
        <p>{{ project.summary }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Learn More</button>
        <button mat-button>Visit Site</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
