<div class="dialog">
  <mat-dialog-title class="dialog__title">
    About This Site
  </mat-dialog-title>
  <mat-dialog-content>
    <mat-card class="dialog__card-container">
      <mat-card-header>
        <mat-card-title>{{ siteName }}</mat-card-title>
        <mat-card-subtitle>{{ siteMotto }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        This site was designed with leading edge technology Angular 6+, TypeScript 2 and Google Cloud Platform
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>
</div>
