.footer{
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  background: #000000 url("../../../assets/img/black_brick_wall_footer_background.jpg") no-repeat;
  color: #ffffff;
  margin-top: 20px;
}
.footer-nav-subdiv{
  max-width: 23%;
  margin: 2% 0 0 9%;
  float: left;
}
.footer-nav-subdiv h3{
  text-align: center;
}
.site-footer-wrapper{
  background-color: #545454;
}
.site-footer{
  margin: 15px auto 0;
  width: 60%;
  color: #bebebe;
  text-align: center;
  background-color: #545454;
}

@media (max-width: 768px){
  .footer-wrapper{
    width: 100%;
    margin: 0 auto 0;
  }
  .footer-nav-subdiv{
  }
  .site-footer{
    width: 90%;
  }
  .footer-nav-subdiv {
    width: 98%;
    margin: 0 auto 0;
    text-align: center;
  }
}
@media (max-width: 414px){

}
