<!-- START FOOTER CONTAINER -->
<div class="row">
  <footer class="footer">

    <div class="footer__nav-subdiv">
      <h2>Consultant</h2>
      <p class="footer__nav-subdiv__contact-text">Are you in need of a consultant to join your team for a short or long term project?</p>
      <button class="footer__nav-subdiv__btn" (click)="openConsultantRequestForm()">Marvin Join Our Team</button>
    </div>

    <div class="footer__nav-subdiv">
      <h2>BLOG </h2>
      <p class="footer__nav-subdiv__contact-text">Check out some of my recent blog & vlog on tech, music and career topics.</p>
      <button class="footer__nav-subdiv__btn" routerLink="/blog">Articles</button>
    </div>

    <div class="footer__nav-subdiv">
      <h2 (click)="openContactForm()">How Can I Help You</h2>
      <p class="footer__nav-subdiv__contact-text">Find out how my services and skills meet your business needs.</p>
      <button (click)="openContactForm()" class="footer__nav-subdiv__btn">Contact Me</button>
    </div>

  </footer>

  <div class="site-footer-wrapper">
    <div class="site-footer-wrapper__content">
      The {{ siteName }} site is develop with Angular 6 / 7 & TypeScript 2. Hosting is provided by Google Firebase &
      Google Cloud Platform (GCP).
    </div>
  </div>

</div>
