<!-- START FOOTER CONTAINER -->
<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3 widget footer-nav-subdiv">
      <h3>Home Grown Designs</h3>
      <p>Home Grown Designs LLC is my freelance web service company, that offers domain and web hosting, for both web and mobile development.</p>
    </div>

    <div class="col-sm-6 col-md-6 widget footer-nav-subdiv">
      <h3>GIT <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon></h3>
      <p>Visit my GIT and check out the list of things I've done.</p>
    </div>

    <div class="col-sm-6 col-md-3 widget footer-nav-subdiv">
      <h3>Hire Me</h3>
      <p><a routerLink="/contact">Contact</a> me to find out how my skills match your business needs.</p>
      <p>Email me: marvintdawson@gmail.com</p>
      <p>Mobile: (770) 530-2929</p>
    </div>
  </div>
  <div class="row site-footer-wrapper">
    <div class="site-footer">
      {{ siteName }} is develop with Angular 6 & TypeScript 2 via a MEAN stack.  Hosting is provided by Amazon Web Services (AWS).
       Designed by Home Grown Designs LLC.
    </div>
  </div>
</footer>
