/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 320px) {
  .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  .bg-jumbrotron {
    background: url('../../assets/img/dallas1_cropped.jpg') no-repeat;
    background-size: cover;
    height: 300px;
  }
  .homePage-BriefSummary-wrapper{
    width: 100%;
    padding: 1px;
    position: absolute;
   /* margin: 0 0 0 6%;*/
  }
  .homePage-BriefSummary {
    width: 80%;
    margin: 30% auto 0;
    font-family: Arial sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    background-color: #545454;
    opacity: 0.8;
    border-radius: 14px;
    padding: 5px;
  }
  .moreAbout-Me-btn,
  .my-resume-btn {
    height: 30px;
    text-align: center;
    position: relative;
    border-radius: 2px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .moreAbout-Me-btn {
    display: none;
    width: 45%;
    margin: 25px auto 0;
    opacity: 0.6;
    color: #fff;
    position: relative;
  }
  .my-resume-btn {
    width:70%;
    margin: 1% auto 20px;
  }
  .moreAbout-Me-btn span,
  .my-resume-btn span {
    top: 2px;
    position: relative;
  }
  .moreAbout-Me-btn > span a{
    text-decoration: none;
    color: #fff;
  }
  .moreAbout-Me-btn > span a:hover,
  .my-resume-btn > span a:hover{
    text-decoration: none;
    color: #ff672c;
  }
  .my-resume-btn > span a{
    text-decoration: none;
  }
  .section-h2 {
    width: 51%;
    padding: 1px;
    margin: 15px auto 0;
    font-family: Arial sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .bg-jumbrotron-wrapper{
    width: 100%;
    height: 300px;
  }
  .bg-midnight-blue {
    background-color: #2c3e50;
    padding: 25px;
  }

  .bg-midnight-blue .section-h2 {
    color: #d2d2d2;
  }
  .bg-cloud {
    background-color: #ecf0f1;
  }
  .bg-chinese-city-light{
    background-color: #a4b0be;
  }
  .about-this-site {
    width: 80%;
    min-height: 100px;
    margin: 35px auto 15px;
    background-color: transparent;
    /* color: #d2d2d2;*/
    text-align: center;
    position: relative;
    float: none;
  }
  .about-this-site .card-container {
    width: 50%;
    margin: 0 auto 0;
    background-color: transparent;
  }
  .recent-projects .card-container {
    width: 80%;
    min-height: 395px;
    margin: 10px auto 15px;
    background-color: #2c3e50;
    color: #d2d2d2;
    text-align: center;
    position: relative;
    float: none;
    border-radius: 5px;
  }
  .skills-experience {
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
  }
  .skills-experience .card-container {
    margin: 0 auto 15px;
  }
  .homePage-MoreAboutMe {
    width: 100%;
    margin: 0 auto 0;
    text-align: center;
  }

  .homePage-MoreAboutMe h3 {
    font-family: Arial sans-serif;
    font-size: 24px;
    color: #FFFFFF;
  }

  .homePage-MoreAboutMe p {
    color: #d2d2d2;
  }

}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 568px) {
  .bg-jumbrotron {
    height: 400px;
  }
  .homePage-BriefSummary-wrapper {
    /*margin: 0 0 0 2%;*/
  }
  .homePage-BriefSummary {
    margin: 24% auto 0;
  }

  .recent-projects .card-container {
    width: 55%;
    min-height: 395px;
    margin: 10px auto 15px;
  }

  .bg-cloud {
    margin: 100px auto 0;
  }
}

/**  Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  .bg-jumbrotron { }
  .homePage-BriefSummary {
    width: 95%;
  }
}

/**  Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  .bg-jumbrotron {}

  .homePage-BriefSummary-wrapper{
    margin-top: 20%;
    /*marrgin: 20% 0 0 10%;*/
    padding: 1px;
  }

}



/** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bg-jumbrotron-wrapper{
    width: 100%;
    height: 700px;
  }
  .bg-jumbrotron {
    width: 100%;
    height: 100%;
    transition: all .5s;
  }
  .bg-jumbrotron-wrapper:hover .bg-jumbrotron,
  .bg-jumbrotron-wrapper:focus .bg-jumbrotron {
    transform: scale(1.1);
  }
  .homePage-BriefSummary {
    width: 70%;
    margin: 0 auto 0;
    font-size: 18px;
  }
  .bg-cloud[_ngcontent-c4] {
    margin: 0 auto 0;
  }
  .homepage-wall,
  .homepage-wall img {
    width: 100%;
  }
  .myPhoto {
    width: 100%;
  }
  .homePagePic {
    background: url('../../assets/img/selfPortrait/mdApril2016_3_cropped.jpg') no-repeat;
    width: 140px;
    height: 145px;
    margin: 25px auto 30px;
    border-radius: 100px;
  }
  .homePage-MoreAboutMe {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
  }

  .homePage-MoreAboutMe h3 {
    font-family: Arial sans-serif;
    font-size: 24px;
    color: #FFFFFF;
  }

  .homePage-MoreAboutMe p {
    color: #d2d2d2;
  }

  .moreAbout-Me-btn {
    width: 200px;
    height: 50px;
    margin: 1% 0 0 72.3%;
    border: 2px solid #fff;
   /* opacity: 0.6;*/
    text-align: center;
    position: relative;
    border-radius: 2px;
    display: block;
  }
  .moreAbout-Me-btn > span,
  .my-resume-btn > span {
    color: #fff;
    top: 12px;
    position: relative;
    font-weight: bold;
    background: none;
  }
  .my-resume-btn {
    width: 20%;
    height: 50px;
    margin: 3% auto 20px;
    border: 2px solid #fff;
    color: #fff;
    background: none;
    text-align: center;
    position: relative;
    border-radius: 2px;
  }
  .section-h2 {
    width: 200px;
    margin: 10px auto 20px;
    padding: 10px;
  }

  .recent-projects {
    width: 80%;
    margin: 20px auto 0;
  }

  .skills-experience {
    width: 70%;
    margin: 0 auto 0;
  }
  .fa-icon-wrapper {
    text-align: center;
  }
  .recent-projects .card-container {
    width: 25%;
    min-height: 400px;
    margin: 55px 0 50px 75px;
    background-color: #2c3e50;
    color: #d2d2d2;
    text-align: center;
    position: relative;
    float: left;
  }
  .skills-experience .card-container {
    margin: 0 0 55px 75px;
    width: 25%;
    min-height: 265px;
    float: left;
  }
  .recent-projects mat-card-header {
    margin: 0 auto 8px;
    text-align: center;
    align-content: center;
    width: 66%;
    display: block;
    font-weight: bold;
  }
  .btn {
    text-align: center;
  }

}
