
<!-- Start Body Content -->
<section class="bg-tan">
  <div class="container-fluid">
    <div class="row">
      <div class="homepage-wall">
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->
<!-- /end wall paper  -->

<!-- START Photo area -->
<section class="bg-cloud">
  <div class="container-fluid">
    <div class="row">
      <div class="myPhoto">
        <div class="homePagePic"></div>
        <div class="homePage-BriefSummary">
          I'm a Full Stack LAMP / MEAN Architect.
          I design responsive websites and mobile apps. I currently work as a freelance developer in the Dallas, Texas area.
        </div>
        <div class="moreAbout-Me">
          <span><a href="#about-me">MORE ABOUT ME</a></span>
        </div>
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->


<!-- Start Skills & Experience -->
<section class="skillsWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 skills-experience">
        <div class="section-h2">Skills</div>

        <div class="col-md-12 index-top-row">
          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-html5 fa-5x"></i><i class="fa fa-css3 fa-5x"></i>
                </div>
                <h3>HTML5 + CSS3 / Front End</h3>
                <p>
                  Capable of demonstrating skills in writing and editing HTML5 and CSS3 <i class="fa fa-css3"></i>. Knowledgable in responsive techinques and frameworks such as Twitter Bootstrap.
                </p>
              </div>
            </div><!-- end thumbnail one -->
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-github fa-5x"></i>
                </div>
                <h3>Version Control</h3>
                <p></p>
                <p>
                  Implement version control using GIT Bash and GITHUB in a multi dev setting.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail two -->

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-linux fa-5x"></i>
                </div>
                <h3>Unix / Linux</h3>
                <p></p>
                <p>
                  Knowledgeable of Linux terminal commands for dev environment setup via Ubuntu.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail three -->
        </div><!-- #end ecreative row 2 -->
      </div>
    </div><!-- #end row -->

    <div class="row">
      <div class="col-md-12 skills-experience">
        <div class="col-md-12 index-top-row">
          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-code fa-5x"></i>
                </div>
                <h3>PHP</h3>
                <p>
                  Demonstrate the ability to implement OOP design for PHP best practices using PHPDocumentor, Xdebug and PHPUnit
                </p>
              </div>
            </div><!-- end thumbnail one -->
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-android fa-5x"></i>
                </div>
                <h3>App Design / Android</h3>
                <p></p>
                <p>
                  Experienced in app design using multiple design tools such as, Adobe CC Flash Pro, Zend Apigility, PhoneGap.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail two -->

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-database fa-5x"></i>
                </div>
                <h3>Data</h3>
                <p></p>
                <p>
                  Possess knowledge of MySQL, MongoDB and PDO for data capturing.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail three -->
        </div><!-- #end ecreative row 2 -->
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->

<!-- Start About Me -->
<section class="aboutMeWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="about-me" class="section-h2">About Me</div>
        <div class="homePagePic"></div>
        <div class="homePage-MoreAboutMe">
          <h3>Senior Web Developer / Full Stack Software Engineer</h3>
          <p>
            I am a two fold developer that sees the big picture to maximize the bottom line.
            Having over 12 years of Supply Chain with a focus on root cause analysis and LEAN manufacturing,
            which gives me the ability to better understand the UI for the end user.
            During my time in Supply Chain, I worked as a freelance developer, learning various programs.
          </p>
          <p>
            My friends say I am smart, easy going, and business focus. My better half would say I am passionate
            about web designs and programming.  Being optimistic I believe that there is always a silver lining.
            My ambitious nature gives me a keen sense of business which translates into success.
          </p>

          <p>
            When I am not head first in the digital world via new tech, code, frameworks, applications or reading books.  I have tunnel vision playing Call of Duty.  I own
            all of the release games and I only game with Xbox for my play-station.  Also I am head over hills in love with
            my fiance's and her 6 year old daughter, the both of them gives me the proper work life balance.
          </p>
        </div>
        <div class="moreAbout-Me">
          <span><a href="md_Resz/mdrez_dev_2016.pdf">DOWNLOAD MY RESUME</a></span>
        </div>
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->


