
<!-- Start Body Content -->
<section class="bg-jumbrotron">
  <div class="container-fluid">
    <div class="row">
      <div class="homepage-wall">
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->
<!-- /end wall paper  -->

<!-- START Photo area -->
  <div class="container-fluid bg-cloud">
    <div class="row">
      <div class="myPhoto">
        <div class="homePagePic"></div>
        <div class="homePage-BriefSummary">
          I'm a Sr. Full Stack MEAN & LAMP Developer.
          I design mobile application and responsive hybrid websites using Angular 6 & Ionic 4 Framework. I currently work as a freelance developer in the Dallas-Fort Worth area in Texas.
        </div>
        <div class="moreAbout-Me">
          <span><a href="#about-me">MORE ABOUT ME</a></span>
        </div>
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->


<!-- Start Skills & Experience -->
<section class="skillsWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 skills-experience">
        <div class="section-h2">Skills</div>

        <div class="col-md-12 index-top-row">
          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-html5 fa-5x"></i><i class="fa fa-css3 fa-5x"></i>
                </div>
                <h3>Front End</h3>
                <p>
                  Proficient in JavaScript libraries such as Angular 6, React, React-Native.
                </p>
              </div>
            </div><!-- end thumbnail one -->
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-github fa-5x"></i>
                </div>
                <h3>RESTful API</h3>
                <p></p>
                <p>
                  Possess the ability to build API's and consume third party API's.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail two -->

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-linux fa-5x"></i>
                </div>
                <h3>Open Source</h3>
                <p></p>
                <p>
                  Knowledgeable of Linux terminal commands for dev environment setup via Ubuntu.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail three -->
        </div><!-- #end ecreative row 2 -->
      </div>
    </div><!-- #end row -->

    <div class="row">
      <div class="col-md-12 skills-experience">
        <div class="col-md-12 index-top-row">
          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-code fa-5x"></i>
                </div>
                <h3>Cloud</h3>
                <p>
                  Capable of CI/CD via cloud environment such as AWS, Google Cloud and Azure.
                </p>
              </div>
            </div><!-- end thumbnail one -->
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-android fa-5x"></i>
                </div>
                <h3>Mobile Deployment</h3>
                <p></p>
                <p>
                  Experienced in app deployment for Android to the Google Play App Store.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail two -->

          <div class="col-sm-4 col-md-4">
            <div class="skills-thumbnail">
              <img src="" alt="">
              <div class="caption">
                <div class="fa-icon-wrapper">
                  <i class="fa fa-database fa-5x"></i>
                </div>
                <h3>Data</h3>
                <p></p>
                <p>
                  Possess knowledge of MySQL, MongoDB, NoSQL for data capturing while using GIT or Mercurial for version control.
                </p>
              </div>
            </div>
          </div><!-- end thumbnail three -->
        </div><!-- #end ecreative row 2 -->
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->

<!-- Start About Me -->
<section class="aboutMeWrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="about-me" class="section-h2">About Me</div>
        <div class="homePagePic"></div>
        <div class="homePage-MoreAboutMe">
          <h3>Sr Full Stack MEAN / LAMP Developer</h3>
          <p>
            I am a two fold developer that sees the big picture to maximize the bottom line.
            Having over 12 years of Supply Chain with a focus on root cause analysis and LEAN manufacturing,
            has given me the ability to better understand the UI development timeline for the end user in an Agile environment.
            During my time in Supply Chain, I moon-lighted as a freelance developer, learning various programming languages and skills.
          </p>
          <p>
            My friends say I am smart, easy going, and business focus. My better half would say I am passionate
            about web designs and programming.  Being optimistic I believe that there is always a silver lining.
            My ambitious nature gives me a keen sense of business which translates into success.
          </p>

          <p>
            When I am not head first in the digital world via new tech, code, frameworks, applications or reading books.  I have tunnel vision playing Call of Duty.  I own
            all of the release games and I only game with Xbox for my play-station.  Also I am head over hills in love with
            my fiance's and her 6 year old daughter, the both of them gives me the proper work life balance.
          </p>
        </div>
        <div class="moreAbout-Me">
          <span><a routerLink="/resume">DOWNLOAD MY RESUME</a></span>
        </div>
      </div>
    </div><!-- #end row -->
  </div><!--  #end container  -->
</section><!--  #end section -->


