<div class="row corepage-wall">
  <img src="../../../assets/img/my-story/rmu_education1.jpg" class="corepage_wall_image">
  <!--div class="corepage-wall"></div-->
</div>

<!--app-title [prePageTitle]="prePageTitle" [pageTitle]="pageTitle"></app-title-->

<div class="row">
  <div class="main-content">
  <div class="">
    <h4 class="para-font-color">About Marvin</h4>
    <p>I have developed web sites using HTML & CSS for almost 20 years, while adding server-side and data capturing in the past 10 years.</p>
    <p><em>&quot; I am totally intrigued with the idea of creating something that the world would see, use and improve their life a little. I continue to add various programs and design tools to my arsenal of creation&quot;</em>.</p>
    <h4 class="para-font-color">My Story starts here....</h4>
    <p>I'll get straight to it, my first website was a mess.  I created it in 1997, when I started my online Christian clothing line at "www.jita.com".   J.I.T.A. was an acronym for Jesus Is The Answer Clothing. </p>
    <p>Did he just say his first web site was a mess?  Well yes, didn't your first site come with a learning curve. Geesh give me a break.</p>
    <p>Well back then it was awesome to me.  I mean from a web design perspective it was really bad.
      That became painfully obvious to me when I contacted a Yahoo customer service rep to ask for some technical advice and was told that my website was horrible.</p>
    <p>Not sure if that was a seg way into a sales pitch, pretty sure it was. I hung up, the nerve I was using Yahoo for hosting and building the site. </p>
    <p>Every container on the site consisted of a text box specifically placed on the page and a iFrame container (not a div).  It took me forever to make that web site, hahaha. I laugh now looking back, but at the time, man I was a BAD man you couldn't tell me nothing, I had a web site. </p>
    <p>Committed to learning I never gave up practicing, researching, and growing.  In 2009 I embarked on a new web venture with the idea that I would create a web community with very similar functionality as, MySpace, Facebook, and Twitter.</p>
    <h2 class="para-font-color">Why PHP?</h2>
    <div>
      <h4 class="para-font-color">The Birth of HomeGrownMusiq.com! My First PHP Site!</h4>
    </div>
    <p><img src="../../../assets/img/my-story/hgmLogo2_whitebackground.jpg" alt="hgmLogo" />
      <a href="http://www.homegrownmusiq.com">HomeGrownMusiq.com</a> had a lot of energy out the gate. Fun fact this was sort of around the time MySpace was all the rave and Facebook was being born.
      Back then people were starting to sign up and wait, I can't make that many web pages statically that fast. </p>
    <h4 class="para-font-color">The Dilemma</h4>
    <p>I created 100 hundred static web pages and now the page header is off on this page.
      Yup, I copied and pasted it on all the other pages, so all of those pages are off too, nice WTF.
      So fix the error and copy it into the other hundred pages, this is taking forever I need help.
      Artist are emailing me asking when can they get access to their page?</p>
    <p>Lets just say it can't be done statically.  HELLO WORLD!!! </p>
    <p>In comes PHP and MySQL to save the day. We shut the site down and I embarked on the task of working a regular 9 to 5, while running a home studio, and learning PHP and MySQL. </p>
    <p>I read and researched  dynamic web programming langauges and ended up being even more confused. </p>
    <ul>
      <li>What is C?</li>
      <li>What is C#?</li>
      <li>Is C# different from C?</li>
      <li>What is C++?</li>
      <li>Is C++ better than C or C#?</li>
      <li>Do I need ASP?</li>
      <li>Or should I go with Java?</li>
      <li>Should I learn .NET?</li>
      <li>Learn PHP - What is that?</li>
      <li>Capture your data with MySQL, huh HOW?</li>
    </ul>
    <p>I almost cried from the huge amount of free information out there regarding programming and open source. </p>
    <p>In the end I settled on PHP, and worked on redesigning the site, dropping Yahoo's Sitekiller, (OPPPS! I meant Yahoo's Sitebuilder) and learning how to use Adobe's Dreamweaver IDE for the code hinting.
      Which I like to pause for a minute and say back then, <span appHighlight>code hinting and syntax error hightlighting</span> was a huge help while learning dynamic programming.</p>
    <p>I felt like I was in school again, while working, recording music and helping other people with their websites. I literally had no time for HomeGrownMusiq.com. </p>
    <p>None the less the joy of having the understanding of dynamic programming was a personal gain that has given me a great level of self gratification, and has allow me to help others while learning and gaining new experiences.</p>
    <p>Fast forward to today and I have gained new experiences using a variety of other programming languages, frameworks and libraries such as:</p>
    <ul>
      <li>PHP with a OOP focus</li>
      <li>JavaScript</li>
      <li>Angular 6 / 7</li>
      <li>React 16 with a sprinkle of React Native</li>
      <li>Java</li>
      <li>C#</li>
      <li>.NET Core 2.1</li>
      <li>NodeJS</li>
      <li>Python 3</li>
      <li>Linux</li>
      <li>MySQL</li>
      <li>MongoDB</li>
      <li>Apache Tomcat</li>
      <li>Apache PhoneGap</li>
      <li>Apache Cordova</li>
      <li>Ionic Framework 4</li>
      <li>Express</li>
      <li>jQuery</li>
      <li>AJAX</li>
      <li>XML</li>
      <li>JSON</li>
      <li>ActionScript 3.0</li>
    </ul>
    <h2 class="para-font-color">SPA's are the Future</h2>
    <div>
      <h4 class="para-font-color">The path to all things Angular</h4>
    </div>
    <p>Web design and programming in still exciting to me as it was back in 1997.</p>
    <p>As of 2018 heading into 2019 I started developing my own CMS template using Angular 6 / 7.
      I will eventually named it <a href="http://www.getmarvelle.com" target="_blank">getMarvelle</a>, and you will soon be able to visit it in the near future, as for now all I have is a landing page unfortunately with all of the other stuff I have going on.</p>
    <p>Hey don't judge me, one can dream!!!!</p>
    <p>Ok enough about me already, go aheade and look around, click on some of the other sites and applications I've worked on.</p>
    <p>Thanks for reading....</p>
  </div>
  </div>
</div>

